In [1]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [2]:
from utils.functions import *

In [3]:
data = TimeSeriesDataFrame.from_path(
    "https://autogluon.s3.amazonaws.com/datasets/timeseries/grocery_sales/test.csv",
)
data.head()

                     scaled_price  promotion_email  promotion_homepage  \
item_id  timestamp
1062_101 2018-01-01      0.879130              0.0                 0.0
         2018-01-08      0.994517              0.0                 0.0
         2018-01-15      1.005513              0.0                 0.0
         2018-01-22      1.000000              0.0                 0.0
         2018-01-29      0.883309              0.0                 0.0

                     unit_sales
item_id  timestamp
1062_101 2018-01-01       636.0
         2018-01-08       123.0
         2018-01-15       391.0
         2018-01-22       339.0
         2018-01-29       661.0

In [4]:
prediction_length = 8
train_data, test_data = data.train_test_split(prediction_length=prediction_length)

In [5]:
predictor = TimeSeriesPredictor(
    prediction_length=prediction_length,
    target="unit_sales",
    known_covariates_names=["scaled_price", "promotion_email", "promotion_homepage"],
).fit(
    train_data,
    hyperparameters={
        "Chronos": [
            # Zero-shot model WITHOUT covariates
            {
                "model_path": "bolt_small",
                "ag_args": {"name_suffix": "ZeroShot"},
            },
            # Chronos-Bolt (Small) combined with CatBoost on covariates
            {
                "model_path": "bolt_small",
                "covariate_regressor": "CAT",
                "target_scaler": "standard",
                "ag_args": {"name_suffix": "WithRegressor"},
            },
        ],
    },
    enable_ensemble=False,
    time_limit=60,
)

Beginning AutoGluon training... Time limit = 60s
AutoGluon will save models to '/home/antares/Documents/PoliTo/Fall_24/DeepNLP/DeepNLP_Forecasting/AutogluonModels/ag-20250517_152546'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.12.9
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #202412060638~1743109366~22.04~1fce33b SMP PREEMPT_DYNAMIC Thu M
CPU Count:          16
GPU Count:          1
Memory Avail:       7.25 GB / 15.32 GB (47.3%)
Disk Space Avail:   319.98 GB / 441.91 GB (72.4%)
===================================================

Fitting with arguments:
{'enable_ensemble': False,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': [{'ag_args': {'name_suffix': 'ZeroShot'},
                                  'model_path': 'bolt_small'},
                                 {'ag_args': {'name_suffix': 'WithRegressor'},
                                  'covariate_regressor': 'CAT',
                                  'model_path': 'bolt_small',
                                  'target_scaler': 'standard'}]},
 'known_covariates_names': ['scaled_price',
                            'promotion_email',
                            'promotion_homepage'],
 'num_val_windows': 1,
 'prediction_length': 8,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'unit_sales',
 'time_limit': 60,
 'verbosity': 2}

Inferred time series frequency: 'W-MON'
Provided train_data has 7337 rows (NaN fraction=6.6%), 319 time series. Median time series length is 23 (min=23, max=23).

Provided data contains following columns:
	target: 'unit_sales'
	known_covariates:
		categorical:        []
		continuous (float): ['scaled_price', 'promotion_email', 'promotion_homepage']

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-05-17 17:25:47
Models that will be trained: ['ChronosZeroShot[bolt_small]', 'ChronosWithRegressor[bolt_small]']
Training timeseries model ChronosZeroShot[bolt_small]. Training for up to 29.4s of the 58.8s of remaining time.
	-0.4523       = Validation score (-WQL)
	2.29    s     = Training runtime
	1.36    s     = Validation (prediction) runtime
Training timeseries model ChronosWithRegressor[bolt_small]. Training for up to 55.0s of the 55.0s of remaining time.
	-0.3580       = Validation score (-WQL)
	0.50    s     = Training runtime
	0.82    s     = Validation (prediction) runtime
Training complete. Models trained: ['ChronosZeroShot[bolt_small]', 'ChronosWithRegressor[bolt_small]']
Total runtime: 5.10 s
Best model: ChronosWithRegressor[bolt_small]
Best model score: -0.3580

In [6]:
predictor.leaderboard(test_data)

Additional data provided, testing on additional data. Resulting leaderboard will be sorted according to test score (`score_test`).

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time_marginal,fit_order
0,ChronosWithRegressor[bolt_small],-0.268969,-0.358048,1.024099,0.822945,0.502212,2
1,ChronosZeroShot[bolt_small],-0.318562,-0.452296,1.079372,1.361618,2.289324,1

In [ ]:
covars = test_data.drop('unit_sales', axis=1, inplace=False)
covars.index.get_level_values('item_id')

Index(['1062_101', '1062_101', '1062_101', '1062_101', '1062_101', '1062_101',
       '1062_101', '1062_101', '1062_101', '1062_101',
       ...
       '2956_108', '2956_108', '2956_108', '2956_108', '2956_108', '2956_108',
       '2956_108', '2956_108', '2956_108', '2956_108'],
      dtype='object', name='item_id', length=9889)

In [34]:
covars.loc['1062_101']

            scaled_price  promotion_email  promotion_homepage
timestamp
2018-01-01      0.879130              0.0                 0.0
2018-01-08      0.994517              0.0                 0.0
2018-01-15      1.005513              0.0                 0.0
2018-01-22      1.000000              0.0                 0.0
2018-01-29      0.883309              0.0                 0.0
2018-02-05      0.872894              0.0                 0.0
2018-02-12      0.878020              0.0                 0.0
2018-02-19      0.888481              0.0                 0.0
2018-02-26      0.988978              0.0                 0.0
2018-03-05      1.005543              0.0                 0.0
2018-03-12      0.989208              0.0                 0.0
2018-03-19      1.005484              0.0                 0.0
2018-03-26      1.000000              0.0                 0.0
2018-04-02      1.000000              0.0                 0.0
2018-04-09      1.011026              0.0                 0.0
2018-04-16      0.994547              0.0                 0.0
2018-04-23      0.994546              0.0                 0.0
2018-04-30      1.000000              0.0                 0.0
2018-05-07      0.994517              0.0                 0.0
2018-05-14      1.000000              0.0                 0.0
2018-05-21      1.000000              0.0                 0.0
2018-05-28      0.994547              0.0                 0.0
2018-06-04      1.011026              0.0                 0.0
2018-06-11      1.005425              0.0                 0.0
2018-06-18      1.005454              0.0                 0.0
2018-06-25      1.000000              0.0                 0.0
2018-07-02      1.005513              0.0                 0.0
2018-07-09      1.000000              0.0                 0.0
2018-07-16      1.000000              0.0                 0.0
2018-07-23      1.012346              0.0                 0.0
2018-07-30      1.006248              0.0                 0.0

In [33]:
predictions3 = predictor.predict(
    test_data.loc['1062_101'].iloc[: -prediction_length], known_covariates=covars.loc['1062_101'].iloc[-prediction_length:])

KeyError: 'Requested level (item_id) does not match index name (timestamp)'

In [ ]:
test_data.loc[:,]

                     scaled_price  promotion_email  promotion_homepage  \
item_id  timestamp
1062_101 2018-01-01      0.879130              0.0                 0.0
         2018-01-08      0.994517              0.0                 0.0
         2018-01-15      1.005513              0.0                 0.0
         2018-01-22      1.000000              0.0                 0.0
         2018-01-29      0.883309              0.0                 0.0
...                           ...              ...                 ...
2956_108 2018-07-02      1.001721              0.0                 0.0
         2018-07-09      0.998282              0.0                 0.0
         2018-07-16      0.996570              0.0                 0.0
         2018-07-23      1.000000              0.0                 0.0
         2018-07-30      1.001718              0.0                 0.0

                     unit_sales
item_id  timestamp
1062_101 2018-01-01       636.0
         2018-01-08       123.0
         2018-01-15       391.0
         2018-01-22       339.0
         2018-01-29       661.0
...                         ...
2956_108 2018-07-02        15.0
         2018-07-09        67.0
         2018-07-16        82.0
         2018-07-23        96.0
         2018-07-30        68.0

[9889 rows x 4 columns]